<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Dimensions" value="10" />
    <add key="MutationScale" value="0.5" />
    <add key="CrossoverProbability" value="0.5" />
    <add key="PopulationSize" value="50" />
    <add key="Iterations" value="1000" />
    <add key="Stride" value="1" />
  </appSettings>
</configuration>